<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="jxjg">
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.221226771842286 -2.47254481488416E-08 -0.160050676660446"
        rpy="0 0 0" />
      <mass
        value="179.951906828969" />
      <inertia
        ixx="10.7083418143252"
        ixy="1.25305580325406E-05"
        ixz="-0.22959933467798"
        iyy="12.3869903996114"
        iyz="-9.91446357375315E-07"
        izz="20.2337787473876" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jxjg/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jxjg/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0 0.4 4.62415461609913E-17"
        rpy="0 0 0" />
      <mass
        value="187.68" />
      <inertia
        ixx="13.319024"
        ixy="1.80555932286303E-32"
        ixz="1.12412301689346E-16"
        iyy="7.377388"
        iyz="-4.15088801419776E-33"
        izz="14.077564" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jxjg/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jxjg/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="fixed">
    <origin
      xyz="-0.32 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base" />
    <child
      link="link1" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>